@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to hide scrollbar but maintain scroll functionality */
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }