@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to hide scrollbar but maintain scroll functionality */
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Add to your existing globals.css */
html {
  scroll-behavior: smooth;
}

/* Add to your existing globals.css */
.main-content {
  position: relative;
  z-index: 50;
}

.image-gallery {
  position: relative;
  z-index: 40;
}